body {
  font-family: 'Gaegu', cursive;
}
.container {
  max-width: 700px;
  margin: 50px auto;
  background-color: #e9d9ff;
  padding: 70px 50px;
  border-radius: 16px;
}

.container .title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.container .info {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.container .info .monster {
  margin-bottom: 20px;
}

.info .name {
  font-size: 32px;
}

.health_info {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.health_info .material-symbols-rounded {
  font-size: 32px;
  margin-right: 16px;
  color: #ff5500;
}

.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-grow: 1;
  height: 30px;
  box-sizing: border-box;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  border-radius: 8px;
  background-color: #ff5500;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  border-radius: 8px;
  background-color: #ff5500;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

.container .buttons {
  width: 100%;
  margin-top: 50px;
}

.btn {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border: 4px solid #d0b0fd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #d0b0fd;
}

.btn:last-child {
  margin-bottom: 0;
}
